.dropdown{
    display: flex;
    flex-direction: column;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    -webkit-transition: opacity .3s ease-in;
    -moz-transition: opacity .3s ease-in;
    -o-transition: opacity .3s ease-in;
    transition: opacity .3 ease-in;
  }

  .show {
    display: flex;
    flex-direction: column;
    
  }

  .green{
    filter: invert(58%) sepia(61%) saturate(4251%) hue-rotate(127deg) brightness(94%) contrast(105%);
  }


  .reply-form__text-area{
    width: 95%;
  }
  
  .reply-form__text-area:focus{
    border: none;
    outline: none;
  }