<div *ngIf="tweet.retweetedBy" class="retweeted-by"> 
    <img src="assets/svg/retweet.svg">
    {{tweet.retweetedBy.firstName + " " + tweet.retweetedBy.lastName}}
    Retweeted
</div>
<div class="tweet-header">
    <img src="assets/images/profile.png" class="profile-img">
    <div class="tweet-header__author">
        <div>{{tweet.firstName}} {{tweet.lastName }}</div>
        <div >
            <div>@{{tweet.username}}</div>
            <div>&bull;</div>
            <div>{{tweet.duration}}</div>
        </div>
    </div>
</div>
<div class="tweet-content" (click)="goToTweet(tweet.id)">{{tweet.tweetText}}</div>

<div class="tweet-footer">
    
    <app-reply [tweet]="tweet"></app-reply>
    <app-retweet [tweet]="tweet"></app-retweet>
    <app-like [tweet]="tweet"></app-like>
    <div>
        <img src="assets/svg/share.svg" class="tweet-footer__icon">
    </div>
</div>
