<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
    <title>Twitter Clone</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

</head>

<body>
    <header class="sidebar">
        <div class="sidebar-container">
            <div>
                <img src="assets/svg/twitter.svg" class="logo">
            </div>
            <div class="sidebar-item">
                <img src="assets/svg/home.svg" class="sidebar-item-icon active">
                <div class="icon-label">Home</div>
            </div>
            <div class="sidebar-item">
                <img src="assets/svg/explore.svg" class="sidebar-item-icon">
                <div class="icon-label">Explore</div>
            </div>
            <div class="sidebar-item">
                <img src="assets/svg/notifications.svg" class="sidebar-item-icon">
                <div class="icon-label">Notification</div>
            </div>
            <div class="sidebar-item">
                <img src="assets/svg/messages.svg" class="sidebar-item-icon">
                <div class="icon-label">Messages</div>
            </div>
            <div class="sidebar-item">
                <img src="assets/svg/profile.svg" class="sidebar-item-icon">
                <div class="icon-label">Profile</div>
            </div>
            <div class="sidebar-item">
                <img src="assets/svg/more.svg" class="sidebar-item-icon">
                <div class="icon-label">More</div>
            </div>
            <div class="button">Tweet</div>
        </div>
    </header>
    <main class="main">
        <div class="tweets">
            <div class="tweet-form">
                <div>
                    <img src="assets/images/profile.png" alt="" class="profile-img">
                </div>
                <div class="text-area">
                    <div class="text">
                        <form id="newTweetForm" [formGroup]="newTweetForm" (ngSubmit)="tweet()">
                            <textarea [formControlName]="'text'" id="tweet-text-area" class="tweet-text-area" name="tweet-text-area" rows="4"
                                cols="50" placeholder="What's Happenning?"></textarea>
                        </form>
                    </div>

                    <div class="text-area-footer">
                        <div class="tex-area-footer-icons">
                            <img src="assets/svg/media.svg" class="footer-icon">
                            <img src="assets/svg/gif.svg" class="footer-icon">
                            <img src="assets/svg/poll.svg" class="footer-icon">
                            <img src="assets/svg/emoji.svg" class="footer-icon">
                            <img src="assets/svg/schedule.svg" class="footer-icon">
                            <img src="assets/svg/location.svg" class="footer-icon">
                        </div>
                        <input class="text-area-footer-button" type="submit" form="newTweetForm" value="Tweet">
                    </div>

                </div>
            </div>
            <div class="tweet" *ngFor="let tweet of tweets">
                <div *ngIf="tweet.retweetedBy" class="retweeted-by-container"> 
                    <img src="assets/svg/retweet.svg" class="retweeted-by">
                    {{tweet.retweetedBy }}
                     Retweeted
                </div>
                <div class="tweet-header">
                    <img src="assets/images/profile.png" class="profile-img">
                    <div class="tweet-header-text">
                        <div>{{tweet.firstName}} {{tweet.lastName }}</div>
                        <div class="tweet-author-data">
                            <div>@{{tweet.username}}</div>
                            <div>&bull;</div>
                            <div>{{tweet.duration}}</div>
                        </div>
                    </div>
                </div>
                <div class="tweet-content">{{tweet.tweetText}}</div>
                <div class="tweet-icons">
                    <div class="tweet-icon-container">
                        <img src="assets/svg/comments.svg" class="tweet-icon" (click)="reply()">
                        {{tweet.replyCounter}}
                    </div>
                    <app-retweet [tweet]="tweet"></app-retweet>
                    <app-like [tweet]="tweet"></app-like>
                    <div>
                        <img src="assets/svg/share.svg" class="tweet-icon">
                    </div>
                </div>
            </div>
        </div>
        <div class="trends"></div>
    </main>
</body>

</html>