<!DOCTYPE html>
<html>



<body>
    <header class="sidebar">
        <app-navbar></app-navbar>
    </header>
    
    <main class="main">  
          <div class="main-container">
            <div class="tweet-form__container">
               
                <img [src]="'http://localhost:8080/user/profile-picture/get/'+ username" alt="" class="profile-img">
                
                <div class="tweet-form">
                    <div>
                        <form id="newTweetForm" [formGroup]="newTweetForm" (ngSubmit)="tweet()">
                            <textarea [formControlName]="'text'" id="text-area" class="tweet-form__text-area" name="text-area" rows="4"
                                cols="50" placeholder="What's Happenning?" required></textarea>
                        </form>
                    </div>

                    <div class="tweet-form__footer">
                        <div class="tweet-form__footer-icons">
                            <img src="assets/svg/media.svg">
                            <img src="assets/svg/gif.svg">
                            <img src="assets/svg/poll.svg">
                            <img src="assets/svg/emoji.svg">
                            <img src="assets/svg/schedule.svg">
                            <img src="assets/svg/location.svg">
                        </div>
                        <input class="tweet-form__footer-button" type="submit" form="newTweetForm" value="Tweet">
                    </div>
                </div>
            </div>
            <div class="tweet" *ngFor="let tweet of tweets" >
                <app-tweet [tweet]="tweet"></app-tweet>
            </div>
        </div>
        <div class="trends"></div>
    </main>
</body>

</html>