<div class="tweet-icon-container" >
    
    
      <!-- <fa-icon  (click)="show()"  class="tweet-icon dropbtn" [icon]="faRepeat">
      </fa-icon> -->
    <img  (click)="show(true)" src="assets/svg/retweet.svg"class="tweet-icon dropbtn">
 
    {{tweet.retweetCounter}}
      <div class="dropdown">
        <div class="dropdown-content" id="Mydropdown" [ngClass]="showDropdown.getValue() ?'show': '' ">
            <div (click)="retweet(tweet.id)"  class="dropdown-item">Retweet</div>
            <div (click)="quote()"  class="dropdown-item">Quote Tweet</div>
        </div>
      </div>
</div>