.dropdown-item{
    margin: 12px;
  }

  .dropdown-item:hover{
    cursor: pointer;
  }

  *{
    font-family: Roboto;
}

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.main{
    flex-basis: 70%;
    display: flex;
    justify-content: space-between;
}

.main-container{
    width: 600px;
    height: 100%;
}

.sidebar{
    flex-basis: 30%;
    display: flex;
    justify-content: flex-end;
    
}

.retweeted-by{
    padding-top: 12px;
    display: flex;
    align-items: center;
    color: #536471;
    filter: invert(38%) sepia(30%) saturate(271%) hue-rotate(164deg) brightness(92%) contrast(94%);

}

.tweet-header{
    display: flex;
    padding: 10px;
    align-items: center;
}

.profile-img{
    margin-top: 5px;
    height: 50px;
    width: 50px;
    border-radius: 25px;
}

.tweet-header__author{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.tweet-content{
    padding: 30px 10px;
}

.tweet-footer__icon, .retweeted-by img{
    width: 20px;
    padding: 10px;
    border-radius: 15px;
}

.tweet-footer__icon:hover{
    background-color: rgba(0, 0, 0, 0.09);
    cursor: pointer;
}

.tweet-form__text-area, .reply-form__text-area{
    margin: 10px;
    resize: none;
    width: 500px;
    height: 80px;
    border: none;
    font-size: 25px;
    outline: none;
}

.reply-form__text-area{
    width: 450px;
    outline: none;
    border: none;
}

.tweet-form__footer-button, .reply-form__button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #1D9BF0;
    width: 75px;
    height: 45px;
    border-radius: 30px;
    border: none;
}

.tweet-form__footer-button:hover, .reply-form__button{
    cursor: pointer;
}

.tweet-icon-container, .tweet-footer__icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}

.tweet-icon, .tweet-footer__icon{
    width: 20px;
    padding: 10px;
    border-radius: 15px;
}

.tweet-icon:hover, .tweet-footer__icon:hover{
    background-color: rgba(0, 0, 0, 0.09);
    cursor: pointer;
}


.tweet-content:hover{
    cursor: pointer;
}

.tweet-header__author div{
    display: flex;
    padding-right: 5px;
}


.tweet-footer{
    display: flex;
    justify-content: space-around;
}

/*OVERLAY*/

.overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 5;
  }
  
  .overlay__reply{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 36px;
    color: black;
    background-color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    height: fit-content;
    width: 30%;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
 