<body>
    <div class="overlay" [style.display]="isOverlay ? 'block':'none'" (click)="hideOverlay($event)">
        <div class="overlay__reply">

            <div *ngIf="!isUploadingBanner && !isUploadingProfilePicture">
                <div>
                    <input #bannerPictureInput style="display: none" type="file" (change)="onBannerPictureChanged($event)">
                    <input #profilePictureInput style="display: none" type="file" (change)="onProfilePictureChanged($event)" #fileInput>

                    <img *ngIf="bannerPicture" (click)="bannerPictureInput.click()" [src]="bannerPicture" alt="" class="header-photo hover"
                        style="margin: 12px;">
                    
                    <img *ngIf="!bannerPicture" (click)="bannerPictureInput.click()" [src]="'http://localhost:8080/user/banner-picture/get/'+ user.username" alt="" class="header-photo hover"
                    style="margin: 12px;">
                    <img *ngIf="profilePicture" (click)="profilePictureInput.click()" [src]="profilePicture" alt="" class="profile-img hover">
                    <img *ngIf="!profilePicture" (click)="profilePictureInput.click()" [src]="'http://localhost:8080/user/profile-picture/get/'+ user.username" alt="" class="profile-img hover">
                    
                </div>
                <form id="newProfileForm" [formGroup]="form" class="overlay__form" (ngSubmit)="save()">
                    <input type="text" [formControlName]="'firstName'" placeholder="First Name">
                    <textarea [formControlName]="'bio'" id="profile-form-text-area" name="reply-form-text-area" rows="2"
                        cols="50" placeholder="Bio"></textarea>
                    <input type="text" [formControlName]="'location'" placeholder="Location">
                    <input type="text" [formControlName]="'personalWebsite'" placeholder="Website">
                    <input type="date" [formControlName]="'birthDate'" placeholder="Birth Date">
                </form>

                <div style="width: 90%; display:flex; justify-content: flex-end; margin-bottom: 12px;">
                    <input class="reply-form__button" type="submit" form="newProfileForm" value="Save">
                </div>
            </div>

            <div *ngIf="isUploadingBanner">

                <image-cropper 
                    [imageChangedEvent]="bannerChangeEvt" 
                    [maintainAspectRatio]="true" 
                    [aspectRatio]="3/1"
                    [resizeToWidth]="600" 
                    format="png" 
                    (imageCropped)="cropImg($event)" >
                </image-cropper>

                <button (click)="cropBanner()">Crop</button>
            </div>

            <div *ngIf="isUploadingProfilePicture">

                <image-cropper 
                    [imageChangedEvent]="profilePictureChangeEvt" 
                    [maintainAspectRatio]="true" 
                    [aspectRatio]="1/1"
                    [resizeToWidth]="400" 
                    format="png" 
                    (imageCropped)="cropImg($event)" >
                </image-cropper>

                <button (click)="cropProfilePicture()">Crop</button>
            </div>

        </div>
    </div>

    <header class="sidebar">
        <app-navbar></app-navbar>
    </header>

    <main class="main">
        <div class="main-container">
            <div class="tweets-counter-container">{{user.firstName}} <span class="tweets-counter">154 Tweets</span></div>
            <div>
                <div >
                    <img [src]="'http://localhost:8080/user/banner-picture/get/'+ user.username" class="header-photo">
                </div>
                <div class="profile-section">
                    <div class="profile-img-container">
                        <img [src]="'http://localhost:8080/user/profile-picture/get/'+ user.username" class="profile-img">
                        <div (click)="showOverlay()" class="edit-button">Edit Profile</div>
                    </div>
                    <div style="padding-left:12px;">
                        <div class="user-first-name">{{user.firstName}}</div>
                        <div class="username">@{{user.username}}</div>
                        <div>{{user.location}}</div>
                        <div>{{user.bio}}</div>
                        <div><a href="{{user.personalWebsite}}">{{user.personalWebsite}}</a></div>
                        <div>{{user.birthDate}}</div>
                    </div>
                    

                </div>
            </div>
            <div class="navbar">
                <div class="navbar-item" (click)="fetchTweets()" [routerLink]="'/profile/tweets'"
                    [ngClass]="{'active': getUrl() === '/profile/tweets'}">Tweets</div>
                <div class="navbar-item" (click)="fetchRetweets()" [routerLink]="'/profile/retweets'"
                    [ngClass]="{'active': getUrl() === '/profile/retweets'}">Retweets & Quotes</div>
                <div class="navbar-item" [routerLink]="'/profile/replies'"
                    [ngClass]="{'active': getUrl() === '/profile/replies'}">Replies</div>
                <div class="navbar-item" [routerLink]="'/profile/likes'"
                    [ngClass]="{'active': getUrl() === '/profile/likes'}">Likes</div>
            </div>
            <div>
                <div *ngFor="let tweet of tweets" class="tweets">
                    <app-tweet [tweet]="tweet"></app-tweet>
                </div>
            </div>
        </div>
        <div class="trends"></div>
    </main>
</body>